
@model AgricultureManagementSystem.ViewModels.EditUserViewModel

@{
    ViewBag.Title = "使用者資料編輯";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                使用者資料編輯
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { @role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Account)
                                @Html.TextBoxFor(m => m.Account, new { @class = "form-control", placeholder = "Enter account" })
                                @*<label>帳號</label>
                                    <input class="form-control" placeholder="Enter account">*@
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter email" })
                                @*<label>信箱</label>
                                    <input class="form-control" placeholder="Enter email">*@
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Region)
                                @{
                                    List<SelectListItem> items = new List<SelectListItem>();
                                    items.Add(new SelectListItem() { Text = "請選擇一個外場地名", Value = "", Selected = true });
                                    items.Add(new SelectListItem() { Text = "萬合", Value = "萬合", Selected = false });
                                    items.Add(new SelectListItem() { Text = "二林", Value = "二林", Selected = false });
                                    items.Add(new SelectListItem() { Text = "山寮", Value = "山寮", Selected = false });
                                    items.Add(new SelectListItem() { Text = "丈八斗", Value = "丈八斗", Selected = false });
                                    items.Add(new SelectListItem() { Text = "梨頭厝", Value = "梨頭厝", Selected = false });
                                }
                                @Html.DropDownListFor(m => m.Region, items, new { @class = "form-control" })
                                @*<label>外場</label>
                                    <select class="form-control">
                                        <option>萬和</option>
                                        <option>二林</option>
                                        <option>田尾</option>
                                    </select>*@
                            </div>
                            <button type="submit" class="btn btn-facebook">確認修改</button>
                        }
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->